/.project
/smartOrderServer/bin/
/smartOrderClient/bin/
/smartOrderClient/.settings/
/smartOrderClient/lint.xml
/smartOrderClient/gen/
/SmartOrderSystem/bin/
/SmartOrderSystem/obj/
/SmartOrderSystem//
/.metadata/
*.suo